
html, body
    margin: 0
    padding: 0
    box-sizing: border-box

.wrapper
    height: 100vh
.footer
    height: 7%
    min-height: 46px
.main
    height: 93%
    display: flex
.content
    width: 75%
.sidebar
    width: 25%

.sidebar
    position: relative
    display: flex
    flex-direction: column
    flex-grow: 0
    flex-shrink: 0
    overflow: hidden
    align-items: stretch
    align-self: stretch
    border-width: 0px 1px 0px 0px
    border-style: solid
    border-color: rgb(213, 217, 222)
    background-color: rgb(240, 244, 248)
    width: 322px
    .header
        position: relative
        display: flex
        justify-content: space-between
        padding-top: 4px
        padding-bottom: 8px
        &_menu
            display: flex
            align-items: center
            max-height: 52px
            .header_logo
                position: relative
                display: flex
                align-items: center
                justify-content: center
                border-color: transparent
                border-width: 0px
                margin-left: 8px
                margin-right: 10px
                padding: 0px
                border-style: solid
                font-size: 12px
                color: rgb(0, 120, 212)
                font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif
                font-weight: 700
                cursor: pointer
                background-color: rgb(229, 228, 232)
                width: 36px
                height: 36px
                border-radius: 18px
                .logo_circle
                    position: absolute
                    bottom: -1px
                    right: -1px
                    border-radius: 50%
                    border-color: rgb(240, 244, 248)
                    border-style: solid
                    border-width: 2px
                    width: 9px
                    height: 9px
                    background-color: rgb(77, 217, 101)
            .header_name
                position: relative
                display: inline
                font-size: 12px
                color: rgb(37, 36, 35)
                font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif
                font-weight: 400
            .header_cash
                position: relative
                font-size: 12px
                color: rgb(138, 141, 145)
                font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif
                font-weight: 400
                padding-left: 8px
        &_edit
            display: flex
            align-items: center
            position: relative
            padding-left: 8px
            padding-right: 10px
            position: relative;
            height: 20px
            font-size: 32px
            font-weight: 400
            color: rgb(43, 44, 51)
            margin: 5px
            margin-bottom: 20px
            cursor: pointer

    .search
        position: relative
        height: 32px
        padding: 10px 8px 8px
        margin-top: -6px
        &_data
            .search_img
                height: 15px
                margin-left: 6px
                margin-right: 6px
            .search_img2
                height: 32px
                width: 32px
                border-width: 0px 0px 0px 1px
                border-style: solid
                border-color: rgb(213, 217, 222)
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            height: 32px
            border-radius: 5px
            background-color: rgb(255, 255, 255)
            border-color: rgb(213, 217, 222)
            border-width: 1px
            border-style: solid
            cursor: pointer
            font-size: 12px
            font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif
            font-weight: 400
            color: rgb(138, 141, 145)
            margin-bottom: 1px




.container
    position: relative
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-shrink: 1
    overflow: hidden
    align-items: center
    justify-content: center
    padding-left: 50px
    padding-right: 50px
    background-color: rgb(255, 255, 255)
    opacity: 1
    transition: none 0s ease 0s

.content
    &_header
        font-size: 40px
        color: rgb(37, 36, 35)
        font-family: "SF Bold", "Segoe System UI Bold", "Segoe UI Bold", sans-serif
        font-weight: 400
        text-align: center

.footer
    display: flex
    flex-flow: row wrap
    // flex-grow: 0
    // flex-shrink: 0
    // overflow: hidden
    align-items: center
    // justify-content: space-between
    min-height: 32px
    padding-right: 30%
    padding-left: 8px
    background-color: rgb(43, 44, 51)
    font-size: 11px
    font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif
    font-weight: 400
    color: rgb(213, 217, 222)
    a 
        font-size: 11px
        font-family: "SF Regular", "Segoe System UI Regular", "Segoe UI Regular", sans-serif
        font-weight: 400
        color: rgb(213, 217, 222)
        margin: 4px
        cursor: pointer
        text-decoration: none
    &_point
        position: relative
        top: -2px
        margin: 4px

